<head>
  <html ng-app='myApp'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <link type="text/css" rel="stylesheet" href="index.css" />
  <script src="index.js"></script>
</head>
<body>
  <div class="game">
    <div class="header">
      <div class="picHolder">
        <div class="pic"><img ng-src="pic.png"/></div>
      </div>
      <div class="logoHolder">
        <div class="logo"><img ng-src="logo.png"/></div>
      </div>
    </div>
    <div class="inputHolder">
      <h2>Provide the following words:</h2>
      <table>
        <tr>
          <td><input type="text" ng-model="male_name" value="{{male_name}}"></td>
          <td><input type="text" ng-model="dirty_task" ng-init="dirty_task='Dirty Task'"/></td> 
          <td><input type="text" ng-model="obnoxious_celebrity" ng-init="obnoxious_celebrity='Obnoxious celebrity'"/></td>
        </tr>
        <tr>
          <td><input type="text" ng-model="job_title" ng-init="job_title='Job Title'" /></td>
          <td><input type="text" ng-model="celebrity" 
              ng-init="celebrity='Celebrity'"/></td> 
          <td><input type="text" ng-model="huge_number" ng-init="huge_number='Huge Number'"/></td>
        </tr>
        <tr>
          <td><input type="text" ng-model="tedious_task" ng-init="tedious_task='Tedious Task'"/></td>
          <td><input type="text" ng-model="useless_skill" ng-init="useless_skill='Useless Skill'"/></td> 
          <td><input type="text" ng-model="adjective" ng-init="adjective='Adjective'"/></td>
        </tr>
      </table>
    </div>
    <div class="textHolder">
        <p><strong>{{male_name}}</strong> was a <strong>{{job_title}}</strong> who loved technology. Altough he loved parts of his job,  he absolutely hated <strong>{{tedious_task}}</strong> and <strong>{{dirty_task}}</strong>. So, <strong>{{male_name}}</strong> met with his life mentor <strong>{{celebrity}}</strong> who told him to learn how to <strong>{{useless_skill}}</strong> with Thinkful. Thinkful didn't offer a course on <strong>{{useless_skill}}</strong> so he studied programming instead.<br><br>What a great decision! Whit his new skills, <strong>{{male_name}}</strong> built a(n) <strong>{{adjective}}</strong> robot named <strong>{{obnoxious_celebrity}}</strong> that not only loved <strong>{{dirty_task}}</strong> but did it <strong>{{huge_number}}</strong> times faster.</p> 
    </div>
  </div>
</body>
</html>