body {
    font: 24px Helvetica;
    background: #ffffff;
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
}
 
#main > article {
    margin: 0% 16% 0% 2%;
    padding: 0px;
    background: #FFFFFF;
    -webkit-flex: 3 1 50%;
    flex: 3 1 50%;
    -webkit-order: 2;
    order: 2;
}

#main > nav {
    margin: 0% 2% 0% 10%;
    padding: 0px;
    border: 2px solid #000000;
    border-radius: 2pt;
    background: #FFFFFF;
    -webkit-flex: 1 6 50%;
    flex: 1 1 50%;
    -webkit-order: 1;
    order: 1;
}
  
.box-title{
    border-bottom: solid 2px;
    padding: 10px;
}

.col1, .col2 {
    display: inline-block;
    padding: 10px;
    width: calc(50% - 24px);
}

input.ng-pristine.ng-valid.ng-valid-number, input.ng-valid.ng-valid-number.ng-dirty ,
input.ng-dirty.ng-invalid.ng-invalid-number, input.ng-valid-number.ng-valid-min.ng-dirty.ng-invalid.ng-invalid-max{
    width: 60% !important;
    padding: 6px !important;
}
button {
    width: 80px;
    margin-left: 16px;
    font-size: 16px;
    padding: 7px;
    border: 2px solid #949494;
    background-color: rgb(233, 233, 233);
}
.charges > .col2, .earnings > .col1 {
    width: calc(65% - 24px);
}
.charges > .col1, .earnings > .col2 {
    width: calc(35% - 24px);
}

div.col1 {
    text-align: right;
}


.charges, .earnings {
    border: solid 2px;
    margin-bottom: 35px;
    border-radius: 2px;
}


header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #FFFFFF;
    border-radius: 7pt;
    background: #FFFFFF;
}
 
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  
    #main, #page {
        -webkit-flex-flow: column;
                flex-flow: column;
           flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        /* Return them to document order */
        -webkit-order: 0;
                order: 0;
    }
  
    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
    nav, article {
        min-height: 350px !important;
        margin: 2% !important;
        margin-bottom: 25px !important;
    }
    .title{
        width: 80% !important;
    }
}
