body {
  margin-left: 30px;
  font-family: sans-serif;
}
.January, .February, .December{
  background: white;
}
.March, .April, .May{
  background: rgb(143, 216, 143);
}
.June, .July, .August{
  background: rgb(255, 224, 178);
}
.September, .October, .November{
  background: rgb(194, 160, 129);
}
div > div{
  border: 1px solid black;
  padding: 0em 0em 0.7em 1.4em;
}
p:first-child {
  font-size: 1em;
}
p{
  font-size: 0.7em;
  line-height: 1em;
  margin: 0.7em 0em 0.7em 0em;
}